catboost_info/
dataset_generico/
datos_clinicos/
gradcam/
modelos_con_pesos/
__pycache__/
segmentacion/
volumenes/


codigo/modelo3D/gradcam/
codigo/modelo3D/modelos_pesos/
codigo/modelo3D/shap_slices_output/
codigo/modelo3D/__pycache__/
codigo/modelo3D/slurm_outputs/

codigo/preentrenamiento/modelos_pesos/
codigo/preentrenamiento/slurm_outputs/

**/slurm_outputs/
*.sh
**/modelos_pesos/


