catboost_info/
dataset_generico/
datos_clinicos/
gradcam/
modelos_con_pesos/
segmentacion/
volumenes/

.gitignore/

codigo/modelos/shap_slices_output/
codigo/modelos/shap_explanation_downsampled.png

**/__pycache__/
**/gradcam/
**/modelos_pesos/
**/slurm_outputs/
*.sh
*.json



