casos_control/
catboost_info/
dataset_generico_pulmones/
datos_anonimizados/
datos_clinicos/
datosprueba/
modelos/
nifti_convertidos_anonimizados/
preprocessed/
preprocessed_data_3d/
preprocessed_dataset_generico/
preprocessed_dataset_generico_3d/
preprocessed_dataset_generico_3d_reducido/
preprocessed_sin_anonimizar/
__pycache__/
pyradiomics/slurm_outputs/
segmentacion/segmentaciones_lung/
slurm_outputs/
volumenes_preprocesados_3d_reducidos/


